{% extends "layouts/base.html" %}
{% block container %}

{% if error %}
<div class="alert alert-danger">
    {{ error }}
</div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <p>
            ActorTrackr is an open source web application for storing/searching/linking Actor related data.  The primary sources are from users and various public repositories. Examples of useful repos: APTNotes and "APT Groups and Operations" spreadsheet. Without the hard work of others, this application wouldn't be possible.  We hope to continue the usefulness by improving the search and linking of data stored in the system.
        </p>

        <p>
            We encourage users to contribute publicly available information here to facilitate sharing and create their own ActorTrackr internally for sensitive data.  If you extend the system and find your changes useful for others, please submit a pull request.
        </p>

    	<p>
            ActorTrackr is maintained by LookingGlass CTIG.<br>
            Visit our blog at <a href="http://deaddrop.threatpool.com/">http://deaddrop.threatpool.com/</a><br>
            Follow us on Twitter:  <a href="https://twitter.com/LG_CTIG">https://twitter.com/LG_CTIG</a><br>
    	</p>
    </div>
</div>
<h1>License Info</h1>
<div class="row">
    <div class="col-md-12">
        <p>
            Copyright 2016 Lookingglass Cyber Solutions
            <br/><br/>
            Licensed under the Apache License, Version 2.0 (the "License");
            you may not use this file except in compliance with the License.
            You may obtain a copy of the License at
            <br/><br/>
            http://www.apache.org/licenses/LICENSE-2.0
            <br/><br/>
            Unless required by applicable law or agreed to in writing, software
            distributed under the License is distributed on an "AS IS" BASIS,
            WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
            See the License for the specific language governing permissions and
            limitations under the License.
        </p>
    </div>
</div>
{% endblock %}
